nav{
    background: white;
    color:black;
}
.nav-wrapper .brand-logo{
    padding-left:10px;
    color: black;
    background: white;
}


nav ul a{
    color:black ;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
/* label color */
.input-field label {
    color: white;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color:white;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border: 1px solid white;
    padding-left:10px;
    box-shadow: 0 1px 0 0 white;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: white;
  }
  input[type=password]:not(.browser-default):focus:not([readonly]){
      border-bottom: 0.5px solid white;
      box-shadow: 0 1px 0 0 white;
  }
  input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color:white;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    border: 0.5px solid  orange;
    box-shadow: 1px 1px 1px 1px orange;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
  color:black;
  border-block-end-color: aqua;
}
  input[type=text]:not(.browser-default){
    background: white;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius:4px;
    outline: none;
    height: 35px;
    width: 100%;
    font-size: 16px;
    margin: 14px 0 8px 0;
    padding-left: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  }
@media only screen and (max-width: 600px) {
    .nav-wrapper .brand-logo{
        padding-left:0px;
    }
    .row .col.s6 {
        width: 50%;
        margin-left: 6px;
        left: auto;
        right: auto;
        margin-top: 6px;
        margin-bottom:6px;
  }
}